@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="display-6">Op deze site kan u tickets voor wedstrijden en abonnementen voor voetbalclubs kopen</p>
    <img src="./images/proleague.png" alt="Logo jupier league" class="img-fluid" />
</div>
